<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<html>
<header>
  <nav>
    <ul>
      <li><a href="#home">Domov</a></li>
      <li><a href="#about">O nas</a></li>
      <li><a href="#contact">Kontakt</a></li>
      <li><a href="#store">Izdelki</a></li>
      <li class="nav-right"><button style="margin: left 30px;">Prijava</button></li>
      <li class="nav-right"><button>Registracija</button></li>
    </ul>
  </nav>
</header>

<main>
  <section id="home">
    <h1>Dobrodošli na naši spletni strani</h1>
    <p>Naša spletna stran je namenjena povezovanju ljudi in zagotavljanju koristnih informacij.</p>
  </section>
</main>

<footer>
  <p>&copy; 2024 Moja Spletna Stran. Vse pravice pridržane.</p>
</footer>

</html>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>
